<div class="containareon">

  <h2>New Pokemon</h2>

  <form action="/pokemons" method="post">
    <label>Name:</label>
    <input name="pokemon[name]">
    <label>Photo URL:</label>
    <input name="pokemon[img_url]">
    <label>CP:</label>
    <input name="pokemon[cp]">
    <label>Type:</label>
    <input name="pokemon[poke_type]">
    <label>Trainer:</label>
    <select name="pokemon[trainer_id]">
      <option value="" disabled selected>Select a Trainer</option>
      <% @trainers.each do | trainer | %>
          <option value="<%= trainer.id %>"><%= trainer.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Add Pokemon">
  </form>
</div>
