<div class="team-listing">
  <p><a href="/teams/new">Add New Team</a></p>
  <% @teams.each do | team | %>
    <div class="team">
      <h2><a href='/teams/<%= team.id %>'><%= team.name %></a></h2>
    </div>
  <% end %>
</div>
