<div class="trainer-listing">
  <p><a href="/trainers/new">Add New Trainer</a></p>
  <% @trainers.each do | trainer | %>
    <div class="trainer">
      <h2><a href='/trainers/<%= trainer.id %>'><%= trainer.name %></a></h2>
      <img src="<%= trainer.img_url %>">
    </div>
  <% end %>
</div>
